body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  position: relative;
}
.App {
  background-color: white;
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 130px;
}
.header-container {
  background-color: #4148dc;
  padding: 2rem 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container a {
  color: white;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-right: 2.2rem;
}
.header-ul > li {
  font-size: 1.1rem;
  list-style-type: none;
}
.header-ul > li a {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
}
.header-ul > li a:hover {
  background-color: blue;
}

/*sayfalar genel*/
.pages {
  padding: 2rem 2rem;
}

/*Home Page*/
.bg {
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  background: #59c173; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0rem 2rem;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile_photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.bg > h1 {
  color: white;
  font-size: 1.6rem;
}

.firstcard {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  color: darkblue;
}
.firstcard img {
  height: 70%;
}

.firstcard:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 850px) {
  .bg {
    padding: 2rem 2rem;
    flex-direction: column;
  }
}

footer {
  width: 100%;
  height: 100px;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
}

.blogPage {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  background-color: darkkhaki;
}
.blogcard {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
}

.blogcard h2 {
}
.blogcard > img {
  width: 100px;
  float: left;
  margin-right: 1rem;
}
.blogcard a {
  text-align: center;
  position: absolute;
  left: 40%;
  bottom: 0.5rem;
  color: white;
  background-color: #4148dc;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  text-decoration: none;
}
.blogcard a:hover {
  text-decoration: underline;
}

.dNone {
  display: none;
}

.postPage {
  padding: 2rem;
}
.aboutPage {
}

@media screen and (min-width: 820px) {
  .postPage {
    padding-block: 4rem;
    padding-inline: calc(4rem + 10vw);
  }
}
